 <h1>Create user</h1>
 
 <% if @user.errors.any? %>
 <h2>The following errors prevented the user to getting created</h2>
 <ul>
 <% @user.errors.full_messages.each do |msg|%>
 <li><%= msg %></li> 
 <% end %>
 </ul>
 <% end %>
 
 <%= form_for @user do |f| %>
 
 <p>
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name%>
 </p>
 <p>
  <%= f.label :last_name%></br>
  <%= f.text_field :last_name%>
 </p>
 <p>
  <%= f.label :email%><br>
  <%= f.text_area :email%>
 </p>
 
 
 <%= f.submit%>
 <% end %>
 
 <%= link_to 'Back to users listing ', users_path%>