<h1>Listing all user</h1>
<p>
<%= link_to 'Create new user', new_user_path%>
</p>
<table>
    <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Email</th>
    </tr>
    <% @users.each do |user|%>
    <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        
        <td><%= link_to'Edit', edit_user_path(user) %></td>
        <td><%= link_to'Show', user_path(user)%></td>
        <td><%= link_to'Delete', user_path(user), method: :delete , data: {confirm: "Are you sure ?" }%></td>
    </tr>
    
    <% end %>
</table>