<h1>Showing selected user</h1>
<p>
    Name: <%=@user.first_name%>
</p>
<p>
    Last name: <%=@user.last_name%>
</p>
<p>
   Email: <%=@user.email%>
</p>
 <%= link_to 'Edit this user ', edit_user_path(@user)%> |
 <%= link_to 'Back to users listing ', users_path%>